/* 对手机端进行精确的兼容 */
@media (max-width: 414px) {
    .wood-number {
        font-size: 17px;
    }
    .wood-text {
        font-size: 12px;
    }

    /* 标题 */
    .header-title {
        font-size: 1.25rem;
    }

    .wood-text,
    .wood-number {
        text-align: center;
        /* transform: scale(0.8); */
    }
    .echart-left {
        order: 1;
    }
    .echart-center {
        order: 0;
    }
    .echart-right {
        order: 2;
    }

    /* 手机端底部 */
    .echart-right {
        padding-bottom: 1.5rem;
    }

    /* 动态效果 */
    .center-chart-img-one {
        height: 15rem;
    }

    .center-chart-img-two {
        height: 20rem;
    }

    .center-chart-img-three {
        height: 16.5rem;
    }
}
